@font-face {
    font-family: Rodin;
    src: url("/rodin-regular.otf");
}

h1:hover::before {
    content: ":";
}

h1 {
    text-shadow: 0.3rem 0.3rem 0 #bab5a1;
}

.card {
    flex-direction: column;
    margin: 0;
    margin-bottom: 1rem;
    background-color: #dcd8c0;
    padding: 0.5rem;
}

body {
    margin: 8px;
    margin-top: 4em;
    padding: 0;
    color: #454138  ;
    letter-spacing: 0.2em;
    font-family: Rodin;
    background: url("/background.jpg");
    background-attachment: fixed;
    background-size: contain;
}
